<div class="form-container">
    <div class="form-wrapper">
      <h2 class="form-title">Update Task</h2>
      <form>
        <div class="form-group">
          <label for="name" class="form-label">Task</label>
          <input type="text" name="description" [(ngModel)]="taskDescription.description" placeholder="Add Your Task" class="form-input">
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Day</label>
          <input type="text"  name="date" [(ngModel)]="taskDescription.date" placeholder="Add Day" class="form-input">
        </div>
        <div class="form-group">
          <label for="country" class="form-label">Priority</label>
          <select id="country" name="priority" class="form-select" [(ngModel)]="taskDescription.priority">
            <option value="">High</option>
            <option value="USA">Low</option>
          </select>
        </div>
        <div class="form-group">
          <label  class="form-label">Status</label>
          <select id="gender" name="gender" class="form-select" [(ngModel)]="taskDescription.status">
            <option value="female">Active</option>
            <option value="other">Inactive</option>
          </select>
        </div>
        <button type="submit" class="form-button" (click)="updateTask()" >Update Task</button>
      </form>
    </div>
  </div>